*:not(button) { margin: 0; padding: 0; }
body { padding: 0 12px; color: #333; background: white; min-width: 750px; }
body > * { margin: 12px 0; }
header, section { background: #eee; outline: 1px solid #ddd; padding: 12px; }
h1 { line-height: 48px; }
p { line-height: 24px; }
a[onclick], a.dynamic { cursor: pointer; }

body:not(.auth) .auth-on { display: none; }

header, div.main { display: table; width: 100%; }
header > div, div.main > div { display: table-row; }
header > div > *, div.main > div > * { display: table-cell; vertical-align: top; }
header p.auth-on { text-align: right; padding-left: 12px; }

div.main > div > div:first-child { width: 300px; }
section.playlist-manager { margin-right: 6px; }
section.playlist { margin-left: 6px; }
